@import "../layout-variables";
@import "../../../theme";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.header{
  height: $header-height;
  width: 100vw;

  ::before {
    content: 'CP';
    color: #FFDD00;
    position: absolute;
    z-index: -42;
  }
}

.below-header{
  height: calc(100vh - (#{$header-height} - #{$footer-height}));
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.footer{
  height: $footer-height;
  width: 100vw;
}

.sidebar{
  background: $app-accent-color;
  width: $side-nav-width;
}

.content-wrapper{
  width: calc(100vw - #{$side-nav-width});
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-header{
  height: $content-header-height;
  background: lightgray;
}

.content-body{
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}
