@import "../layout-variables";

.layout-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.below-header-content {
  display: flex;
  flex: 1;
}
