@import "../layout-variables";
@import "../../../variables";

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background: $accent-color;
  text-align: center;
  padding-left: $side-nav-width;
  z-index: 2;
}
