@import "../layout-variables";
@import "../../../theme";

footer {
  background: $app-primary-color;
  color: $app-primary-font;
  text-align: center;
  padding-left: $side-nav-width;
  z-index: 2;
  height: 100%;
}
